__pycache__/
*.py[cod]
*$py.class


venv/
env/
ENV/
.venv/
myenv/
.env
.env.*

.streamlit/secrets.toml


*.db
*.sqlite3


chroma_db/
faiss_index/
vectorstore/
storage/


.cache/
.mypy_cache/



.DS_Store
Thumbs.db


build/
dist/
*.egg-info/


node_modules/


uploads/
temp/
tmp/

*.pt
*.pth
*.bin
*.onnx
